<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-users"><%= link_to "Juicetilt Users", casein_users_path %></li>
<li id="tab-campaigns"><%= link_to "Campaigns", casein_campaigns_path %></li>