<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>
<% if @campaign.user == current_user %>
	<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<% end %>
<%= link_to 'Back', campaigns_path %>
