// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#campaigns {
  margin: 0 auto;
}

.box {
  margin: 15px;
  width: 290px;
  height: 520px;
}

.box img {
  width: 100%;
}

h1 {
	text-align: center;
}

// SHOW PAGE CSS 

#show_heading {
	text-align: center;
	margin-bottom: 20px;
}

#show_heading h1 {
	font-weight: 800;
}

#show_sidebar h1 {
	font-weight: 800;
	text-align: left;
	padding-bottom: 0px !important;
	margin-top: 10px;
	margin-bottom: 0px;
}

#show_panel_heading {
	position: relative;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

#show_panel_heading img {
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}